aiohttp==3.6.3
async-timeout==3.0.1
attrs==20.3.0
cachetools==4.1.1
certifi==2020.12.5
chardet==3.0.4
discord.py==1.5.1
google-api-core==1.23.0
google-auth==1.23.0
google-cloud-core==1.4.4
google-cloud-firestore==2.0.2
googleapis-common-protos==1.52.0
grpcio==1.34.0
idna==2.10
multidict==4.7.6
proto-plus==1.13.0
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
python-dotenv==0.15.0
pytz==2020.4
requests==2.25.0
rsa==4.6
six==1.15.0
urllib3==1.26.2
yarl==1.5.1
